<html>
<head><title>First Page</title></head>
<body>
<br>
This is my first Django Page.
<h1>Shilpi Yadav</h1>
<form action="{% url 'result' %}">
{% csrf_token %}
RI<input type="text" required name="RI"><br><br>
RI<input type="text" required name="RI"><br><br>
RI<input type="text" required name="RI"><br><br>
RI<input type="text" required name="RI"><br><br>
RI<input type="text" required name="RI"><br><br>
RI<input type="text" required name="RI"><br><br>
RI<input type="text" required name="RI"><br><br>
RI<input type="text" required name="RI"><br><br>
RI<input type="text" required name="RI"><br><br>

RI<input type="submit" name="" value="submit"><br><br>

</form>
</body>
</html>